%footer.footer
  .container
    %ul.nav.nav-pills.nav-justified.hidden-xs
      %li(role='presentation')
        %a(href='#/schedule' title='Overall Schedule') Overall schedule
      %li(role='presentation')
        %a(href='#/testimonials' title='Testimonials') Testimonials
      %li(role='presentation')
        %a(href='#/where_and_contacts' title='Where and Contacts') Where & Contacts
    %ul.nav.nav-pills.visible-xs
      %li(role='presentation')
        %a(href='#/schedule' title='Overall Schedule')
          %span.glyphicon.glyphicon-time.x2(aria-hidden="true")
      %li(role='presentation')
        %a(href='#/testimonials' title='Testimonials')
          %span.glyphicon.glyphicon-bullhorn.x2(aria-hidden="true")
      %li(role='presentation')
        %a(href='#/where_and_contacts' title='Where and Contacts')
          %span.glyphicon.glyphicon-map-marker.x2(aria-hidden="true")
  .container
    .text-muted.text-center
      Copyright (C) Big Gym - 1.000.000 USD $ - Tel: 666.666.666 - Address: T&auml;htikuja 1, FI-96930 Napapiiri