.container
  %nav.navbar.navbar-inverse
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#topNavbar")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href='#/' title='Big Gym') Big Gym
    .collapse.navbar-collapse(id="topNavbar")
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle(data-toggle="dropdown")
            Our Gym
            %span.caret
          %ul.dropdown-menu
            %li(data-toggle="collapse" data-target="#topNavbar.in")
              %a(href="#/bio") Phylosophy and History
            %li(data-toggle="collapse" data-target="#topNavbar.in")
              %a(href="#/spaces") Spaces
            %li(data-toggle="collapse" data-target="#topNavbar.in")
              %a(href="#/equipment") Our Equipment
        %li.dropdown
          %a.dropdown-toggle(data-toggle="dropdown")
            Courses
            %span.caret
          %ul.dropdown-menu
            %li(data-toggle="collapse" data-target="#topNavbar.in")
              %a(href='#/courses') All Courses
            %li(data-toggle="collapse" data-target="#topNavbar.in")
              %a(href='#/categories') Categories
        %li.dropdown
          %a.dropdown-toggle(data-toggle="dropdown")
            Instructors
            %span.caret
          %ul.dropdown-menu
            %li(data-toggle="collapse" data-target="#topNavbar.in")
              %a(href='#/instructors') All Instructors
            %li(data-toggle="collapse" data-target="#topNavbar.in")
              %a(href='#/instructors_of_the_month') Of this month
        %li(data-toggle="collapse" data-target="#topNavbar.in")
          %a(href='#/rooms') Rooms
      %ul.nav.navbar-nav.navbar-right
        %li(data-toggle="collapse" data-target="#topNavbar.in")
          %a(href='#/fees_and_registration') FEEs and registration