.container
  .page-header.text-center
    %h1 Our Phylosophy and History
  .col-md-8
    %p Big Gym has been the authority on fitness since 1965. It was then that fitness legend Joe Gold took the knowledge and expertise he gained from training at the world famous “Muscle Beach” and opened up the first Big Gym on Pacific Avenue in Venice, California. Opened long before the modern day health club existed, the original Big Gym featured homemade equipment and an unrivaled dedication to getting results. It was an instant hit. Early fitness enthusiasts flocked to the gym, and in 1977, Big Gym received international attention from “Pumping Iron” – a bodybuilding documentary starring Arnold Schwarzenegger and Lou Ferrigno. With its storied reputation of being THE place to go for the latest training techniques, and its legendary history of producing bodybuilding champions, Big Gym Venice became known as “The Mecca Of Bodybuilding.” Hollywood celebrities and professional athletes soon followed and by 1980, Big Gym began expanding to locations around the globe. Today Big Gym is the most recognized name in fitness serving more than 3 million members in 38 states and 22 countries around the world. Always at the forefront of the fitness revolution, Big Gym has continually evolved its profile by equipping gyms with the best amenities and the latest in cardio and strength training equipment as well as the most dynamic group exercise programs including Zumba, yoga, group cycling, mixed martial arts, muscle endurance training, and Pilates. At Big Gym, you’ll find an energetic, supportive environment full of all kinds of people who are committed to achieving their goals.
  .col-md-4
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item(src="https://www.youtube.com/embed/-EB0XyBUl0U" frameborder="0" allowfullscreen)
    %h3 See also
    .panel.panel-primary
      .list-group
        %a.list-group-item(href="#/spaces/") Spaces
        %a.list-group-item(href="#/equipment/") Our Equipment
