.media(ng-repeat="c in categories" ng-href="#/categories/{{c.id}}")
  .media-left
    %a(ng-href="#/categories/{{i.id}}")
      %img.media-object.img-circle(ng-src="{{c.image}}" ng-attr-alt="{{c.name}}")
  .media-body
    %h4.media-heading
      {{ c.name }}
    {{ c.summary }}
