.container
  .page-header.text-center
    %h1 Our Equipment
  .col-md-8
    %p With exercise and fitness equipment, you can work out in the comfort of your home and reach your fitness goals without having to go to the gym. To maintain a well-rounded fitness regimen, shop for a combination of cardio and resistance-training equipment. Treadmills, ellipticals, exercise bikes and rowing machines are all good cardio options. To make sure you use your equipment regularly, consider purchasing something that aligns with an activity that you enjoy. For example, choose a stationary bike if you like biking and a treadmill if you like to walk or run. Free weights are a classic option for resistance training, but if you're trying to achieve overall fitness, a home gym can be a great investment. If you want to slim down and firm up your waistline, consider ab and core toners. And for flexibility and balance, you may want yoga equipment.
  .col-md-4
    %h3 See also
    .panel.panel-primary
      .list-group
        %a.list-group-item(href="#/spaces/") Spaces
        %a.list-group-item(href="#/bio/") Phylosophy And History

  .col-md-12
    %h3 Images
    .col-xs-6.col-md-3(ng-repeat-start="i in equipments")
      %a.thumbnail(ng-href="{{i.image}}")
        %img(ng-src="{{i.thumb}}")
      .caption
        {{ i.name }}
    .clearfix(ng-if="!(($index + 1) % 4)")
    .clearfix.visible-xs-block(ng-if="!(($index + 3) % 4)" ng-repeat-end)
