.container
  .page-header.text-center
    %h1 FEE's and Registration
  %p
    bla bla blabla bla blabla bla blabla
    bla blabla bla blabla bla blabla bla
    bla bla blabla bla blabla bla blabla
    bla blabla bla blabla bla blabla bla
  %h2.text-center Registration
  %p A form...
