.container
  %h2.text-center Prices
  %p
    bla bla blabla bla blabla bla blabla
    bla blabla bla blabla bla blabla bla
    bla bla blabla bla blabla bla blabla
    bla blabla bla blabla bla blabla bla
  %h2.text-center Registration
  %p A form...