.container
  .page-header.text-center
    %h1 FEE's
  %p
    bla bla blabla bla blabla bla blabla
    bla blabla bla blabla bla blabla bla
    bla bla blabla bla blabla bla blabla
    bla blabla bla blabla bla blabla bla
  .page-header.text-center
    %h1 Registration
  %p A form...
