.container
  .page-header.text-center
    %h1 Overall Schedule
  %table.table.table-responsive.table-bordered
    %thead
      %tr
        %th 
        %th Monday
        %th Tuesday
        %th Wednesday
        %th Thursday
        %th Friday
        %th Saturday
    %tbody
      %tr(ng-repeat="h in hours")
        %td
          {{ h.from }} - {{ h.to }}
        %td(ng-repeat="d in h.days")
          %p(ng-repeat="s in d.schedules")
            %a(ng-href="#/courses/{{s.course.id }}")
              {{ s.course.name }}
            by
            %a(ng-href="#/instructors/{{s.instructor.id}}")
              {{ s.instructor.full_name }}



