.container
  .page-header.text-center
    %h1 Testimonials
  %ul(ng-model="testimonials" ng-if="testimonials.length")
    %li(ng-repeat="t in testimonials")
      %h3 {{ t.name }}
      .embed-responsive.embed-responsive-16by9
        %iframe(ng-src="{{ 'https://www.youtube.com/embed/' + t.yid  + '?rel=0'| trusted }}" allowfullscreen)
