.container
  .page-header.text-center
    %h1 Where and Contacts
.container-fluid
  %h2.text-center
    Here you will see an awesome map :)
    Using a fluid container you can use all the viewport
.container
  .col-sm-6
    %h3.text-center Contacts
    %ul
      %li A very nice
      %li list of contacts
      %li use media tag to show cool icons
  .col-sm-6
    %h3.text-center How to get here
    %p
      Take a rocket and jump on it.
