.container
  .page-header.text-center
    %h1 Where and Contacts
.container
  %ui-gmap-google-map(center='map.center' zoom='map.zoom')
    %ui-gmap-marker(coords="marker.coords" options="marker.options" idkey="marker.id")
.container
  .col-sm-6
    %h3.text-center Contacts
    %ul
      %li Customer service - 987654321
      %li Info - 987654322
      %li Email - santa@finland.fi
  .col-sm-6
    %h3.text-center How to get here
    %ul
      %li Tahtikuja 1, FI, 96930 Napapiiri
