.container
  .page-header.text-center
    %h1 Where and Contacts
.container
  %ui-gmap-google-map(center='map.center' zoom='map.zoom')
    %ui-gmap-marker(coords="marker.coords" options="marker.options" idkey="marker.id")
.container
  .col-sm-6
    %h3.text-center Contacts
    %ul
      %li A very nice
      %li list of contacts
      %li use media tag to show cool icons
  .col-sm-6
    %h3.text-center How to get here
    %p
      Take a rocket and jump on it.
