.container
  .page-header.text-center
    %h1 Where and Contacts
  .row
    %ui-gmap-google-map(center='map.center' zoom='map.zoom')
      %ui-gmap-marker(coords="marker.coords" options="marker.options" idkey="marker.id")
  %br
  %br
  .row
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          %h3.panel-title.text-center
            %span.glyphicon.glyphicon-earphone(aria-hidden="true")
            Contacts
        .list-group
          %a.list-group-item(href="tel:+358987654321")
            %h4 987654321
            %p.text-muted Customer service
          %a.list-group-item(href="tel:+358987654322")
            %h4 987654322
            %p.text-muted Info
          %a.list-group-item(href="mailto:santa@finland.fi")
            %h4 santa@finland.fi
            %p.text-muted Email
    .col-sm-6
      .panel.panel-primary
        .panel-heading
          %h3.panel-title.text-center
            %span.glyphicon.glyphicon-map-marker(aria-hidden="true")
            How to get here
        .list-group
          %a.list-group-item(ng-href="https://www.google.com/maps?ll={{latitude}},{{longitude}}&z={{zoom}}")
            Tahtikuja 1, FI, 96930 Napapiiri