!!! html
!!!
%html
  %head
    %title BigGym
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -#navbar
    %ng-view
      = yield
      
    -#footer